@charset "UTF-8";

body {
  bacground: var(--background-main);
  color: var(--color-main);
}

.info-fixed {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /*apredi*/
  box-sizing: border-box; /*apredi*/
  /* border-bottom: 1px solid #222; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 0.7em;
  background: #000000;
  padding: 0;
  p {
    display: inline-block;
    padding: 0;
    padding-left: 60%;
    animation: scroll 40s linear infinite;
    line-height: 0;
    font-weight: 800;
    opacity: .2;
  } /* P */
} /* INFO FIXED */

header {
  display: flex;
  position: absolute;
  top: 13px;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 50px;
  z-index: 999;
  transition: 1s ease !important;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #000000;
    backdrop-filter: blur(10px);
    border: 1px solid #8888888c;
    margin-right: -230px;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
    li {
      list-style: none;
      transition: 1s ease;
      &:hover {
        transform: translateY(2px);
      }
      &:hover a {
        color: var(--brand-color);
        font-weight: 700;
      } /* HOVER */
      a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        transition: 0.3s;
        margin: 0 10px;
        transition: 1s ease;
        font-size: .8em;
      } /* A */
    } /* LI */
  } /* UL */
  .logo-brand {
    position: absolute;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
    img {
      width: 80px;
      margin: 0 15px;
    } /*IMG */
  } /* LOGI BRAND */
  .button-containment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 3;
    button {
      padding: 7px 10px;
      border-radius: 8em;
      background: #0071E3;
      color: #ffffff;
      border: none;
      box-sizing: border-box;
      &:nth-child(2) {
        background: #ffffff25;
        border: 1px solid #8888888c;
      } /* NTH CHILD */
    } /* BUTTON */
  } /* BUTTON CONTAINMENT */
} /* HEADER */


.containment-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #000000d1;
  margin-top: 20px;
  z-index: 4;
  
  .static-image-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2000px;
    z-index: 1;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 140px;
      left: 20px;
      width: 100%;
      transform: scale(1.2);
      filter: blur(4px);
      opacity: .7;
      mix-blend-mode: difference;
    } /* IMG */
  } /* STATIC IMAGE BACKGROUND */
    
  .galaxy-video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: none;
  } /* GALAXY VIDEO BACKGROUND */
  
  #starfield {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    border: 0;
    outline: 0;
    transform: scale(1.2);
  } /* GALAXY VIDEO BACKGROUND */

  .first-containment {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    
    .hero-info {
      margin-top: 10%;
      justify-content: center;
      .hero-info-title {
        color: #ffffff88;
        padding: 5px 7px 5px 5px;
        border-radius: 50px;
        width: 240px;
        background-color: #c3c3c315;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: auto;
        font-size: .9em;
        img {
          width: 27px;
          height: 27px;
          object-fit: cover;
          border-radius: 8em;
          border: 1px solid #ffffff7e;
          box-sizing: border-box;
        } /* IMG */
        img:nth-child(2) {
          margin-left: -20px;
        } /* IMG */
      } /* HERO INFO TITLE */
      
      h1 {
        font-size: 60px;
        max-width: 600px;
        font-weight: 700;
        line-height: 70px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
        transition-duration: 1.5s;
      } /* H1 */
    
      p {
        max-width: 550px;
        line-height: 25px;
        margin: auto;
        margin-bottom: 40px;
        font-size: 20px;
        text-align: center;
        transition-duration: 2.5s;
      } /* P */
    
      button {
        color: #000000;
        padding: 7px 20px;
        border-radius: 12px;
        border: none;
        background-color: #ffffff;
        transition: 0.3s;
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 700;
        margin: auto;
        transition-duration: 3.5s;
        &:hover {
          box-shadow: 0 0 15px #72a1de81;
        } /* HOVER */
      } /* BUTTON */
    } /* HERO INFO */
  
    .carrousel-skills {
      width: 40%;
      overflow: hidden;
      margin-top: 78px;
      .content {
        display: flex;
        width: max-content;
        animation: scroll-left 20s linear infinite;
        .item {
          flex: 0 0 auto;
          margin-right: 40px;
          img {
            width: 40px;
            height: auto;
            display: block;
            filter: invert(1);
            opacity: .5;
          } /* IMG */
        } /* ITEM */
      } /* CONTENT */
      
    } /* CARROUSEL SKILLS*/
  } /* FIRST CONTAINMENT */

} /* CONTAINMENT MAIN */
