/* ================================ MEDIA QUERIES – RESPONSIVIDADE ================================ */

@media screen and (max-width: 1020px) { 
  .containment-main { 
    .first-containment { 
      .hero-info { 
        margin-top: 20%;
        h1 {
          font-size: 37px;
          max-width: 400px;
          line-height: 37px;
        }
      
        p {
          max-width: 300px;
          font-size: 1em;
        }
      }
    }
        
    .static-image-background {
      img {
        top: 350px;
        transform: scale(1.8);
      }
    }
  } 
}

@media screen and (max-width: 840px) {
  header {
    position: fixed;
    backdrop-filter: blur(2px);
    
    ul {
      position: absolute;
      margin: auto;
      right: 25px;
      padding-right: 240px;
      margin-right: 0;
      border: .9px solid #ffffff34;
    } /* UL */
    
    .button-containment {
      gap: 10px;
    } /* BUTTON CONTAINMENT */
  }
  .idealizing {
    .content {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}

@media screen and (max-width: 755px) {
  header {
    position: fixed;
    
    ul {
      position: absolute;
      right: 25px;
      padding-right: 240px;
      margin-right: 0;
    } /* UL */
    
    .button-containment {
      gap: 10px;
    } /* BUTTON CONTAINMENT */
  }
  .containment-main {
    .first-containment {
      .carrousel-skills {
        width: 90% !important;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-brand {
      position: absolute;
      left: calc(55% - 80px);
    }
    .menu-icon {
      display: inline;
      position: absolute;
      left: 10px;
      &:after {
        position: absolute;
        left: 0;
        top: -4px;
        content: '';
        width: 20px;
        height: 2.5px;
        background: #ffffff;
        border-radius: 8em;
      } /* AFTER */
      &:before {
        position: absolute;
        left: 0;
        bottom: -4px;
        content: '';
        width: 20px;
        height: 2px;
        background: #ffffff;
        border-radius: 8em;
      } /* BEFORE */
    } /* MENU ICON */
    ul {
      display: none;
    } /* UL */
    .button-containment {
      display: none;
    } /* BUTTON CONTAINMENT */
  } /* HEADER */
    
  .containment-main { 
    .first-containment { 
      .hero-info { 
        margin-top: 20%;
        h1 { 
          font-size: 35px;
          margin: 25px auto;
        } /* H1 */
        
        p {
          margin: 25px auto;
        }
        
        button {
          margin: 25px auto;
          padding: 3px 15px;
          font-size: .7em;
          gap: 5px;
        } /* BUTTON */
      } /* HERO INFO */
      
      .carrousel-skills {
        width: calc(100% - 40px);
      } /* CARROUSEL SKILLS */
      
    } /* FIRST CONTAINMENT */
  } /* CONTAINMENT MAIN */
}

@media screen and (max-width: 560px) {
  .containment-main {
    .first-containment {
      .hero-info {
        margin-top: 35%;
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 0.95em;
        }
      }
    }
  } 
}

@media (max-aspect-ratio: 16/9) { 
  .containment-main { 
    .galaxy-video-background {
      width: auto; 
      height: 100%;
    }
  }
}

@media (min-aspect-ratio: 16/9) {
  .containment-main { 
    .galaxy-video-background {
      width: 100%; 
      height: auto;
    }
  }
}

